
<div id="custom">

  <div class="container h-100" >
    <div class="text-center">
      <div class="row h-100">
        <!-- <div class="mx-auto"> -->

          <div class="col-lg-7 my-auto ">
            <div class='mx-auto'>

              <span class='mb-5'>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quasi porro dolor corporis architecto! Nostrum eaque, dolore ipsa laboriosam dolorum consectetur dignissimos nobis dolorem numquam.
              </span>

              <a class="btn btn-outline btn-xl" style="font-size: 11px;">
                START NOW FOR FREE!
              </a>
            </div>
            <div class="col-md-6 ">

              <div class="container ">
                <div id="device">
                  <img style="width: 50%; height: 50%;" src="https://blackrockdigital.github.io/startbootstrap-new-age/img/demo-screen-1.jpg">

                </div>
              </div>
              <!-- <img style="width: 40%; height: 40%;" class="img-fluid" src="https://blackrockdigital.github.io/startbootstrap-new-age/device-mockups/iphone_6_plus/iphone_6_plus_white_port.png" alt="iphone_6_plus"> -->

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->



  </div>
