<div id="custom">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 my-auto text-center">
        <h2 style="font-weight: 200">
          Lorem ipsum dolor sit amet, consectetur adipisicing.
        </h2>

        <div class="row">
          <div class="col-sm-6 offset-sm-1">
            <a href="https://google.com/">

              <img src="https://blackrockdigital.github.io/startbootstrap-new-age/img/google-play-badge.svg" style="width: 135px; height: 40px;">
            </a>
            </div>
          <div class="row">

            <div class="col-sm-6">
              <a href="https://bing.com/">
                <img src="https://blackrockdigital.github.io/startbootstrap-new-age/img/app-store-badge.svg" alt="" >
              </a>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>
