<div id="custom">

  <div class="container" style="padding: 25px">
    <div class="row h-100 text-center">
      <div class="col-lg-6 offset-lg-3">

        <h2>
          We <i class="fa fa-heart" style="color: red; text-rendering: auto;"></i> new friends!
        </h2>
        <ul class='list-inline'>
          <li class="list-inline-item" id="twitter"><a href="https://twitter.com"><i class="fab fa-twitter"> </i></a></li>

          <li class="list-inline-item" id="facebook"><a href="https://facebook.com"> <i class="fab fa-facebook"> </i></a></li>

          <li class="list-inline-item" id="google"><a href="https://google.com"> <i class="fab fa-google-plus-g"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
